# **Actividad 2 - Guia1 - programacion para la ciencia de Datos**

In [50]:
#importar pandas y leer archivo csv
import pandas as pd

#Leer Archivo csv titanic
df1 = pd.read_csv('titanic.csv')

### **Punto 1 Informacion de las variabels iniciales**

In [51]:
# Informacion de las variabls
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

In [52]:
#Descripcion de las variables
df1.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

### **Punto 2 Descripcion**

In [53]:
#Cantidad de sobrevivientes - Suma de columna de sobrevivientes
df1['Survived'].sum()

342

In [54]:
#Distribucion de procentaje de clases
clase = df1['Pclass'].value_counts(normalize=True) * 100
print(clase)

Pclass
3    54.904171
1    24.351747
2    20.744081
Name: proportion, dtype: float64

In [55]:
#Suma de parientes conyugues a bordo
sumap = df1['Siblings/Spouses Aboard'].sum() + df1['Parents/Children Aboard'].sum()
print(sumap)

806

In [56]:
#Agrupacion de tarifas

def intervalo(Fare):
    if Fare < 10:
        return '0-10'
    elif 10 <= Fare < 20:
        return '10-20'
    elif 20 <= Fare < 50:
        return '20-50'
    elif 50 <= Fare < 100:
        return '50-100'
    elif 100 <= Fare < 200:
        return '100-200'
    else:
        return '200+'

#Aplicar funcion
# Aplicar la funciÃ³n para asignar intervalos
df1['intervalo'] = df1['Fare'].apply(intervalo)

#Distribucion de procentaje de clases
tarifa = df1['intervalo'].value_counts(normalize=True) * 100
print(tarifa)

intervalo
0-10       37.542277
20-50      24.239008
10-20      20.067644
50-100     12.175874
100-200     3.720406
200+        2.254791
Name: proportion, dtype: float64

### **Punto 3 limpieza de datos**

In [57]:
#Aproximar valores de la columna de edad
df1['Age'] = df1['Age'].round(2).astype(int)

print(df1['Age'])

0      22
1      38
2      26
3      35
4      35
       ..
882    27
883    19
884     7
885    26
886    32
Name: Age, Length: 887, dtype: int64

In [58]:
#Aproximar las tarifas
df1['Fare'] = df1['Fare'].round(2).astype(int)
print(df1['Fare'])

0       7
1      71
2       7
3      53
4       8
       ..
882    13
883    30
884    23
885    30
886     7
Name: Fare, Length: 887, dtype: int64

### **Punto 3 Analisis e Informe**

In [59]:
#Distribucion de edad por informes

def edades(Age):
    if Age < 10:
        return '0-10'
    elif 10 <= Age < 20:
        return '10-20'
    elif 20 <= Age < 30:
        return '20-30'
    elif 30 <= Age < 50:
        return '30-50'
    else:
        return '50+'

#Aplicar funcion
# Aplicar la funciÃ³n para asignar intervalos
df1['edades'] = df1['Age'].apply(edades)

#Distribucion de procentaje de clases
edades = df1['edades'].value_counts(normalize=True) * 100

print(edades)

edades
30-50    35.287486
20-30    33.032694
10-20    14.430665
50+       9.244645
0-10      8.004510
Name: proportion, dtype: float64

In [60]:
#Relacion de variables
#Relacion de supervivientes con rangos de edad
def superviviencia(Survived):
    if Survived	 == 1:
        return 'SI'
    else:
        return 'NO'

# Aplicar la funciÃ³n
df1['superviviencia'] = df1['Survived'].apply(superviviencia)

#filtrar los que sobrevivieron
df1_vivos = df1[df1['superviviencia'] == 'SI']

#Distribucion de procentaje de clases
edadvivos = df1_vivos['edades'].value_counts(normalize=True) * 100

print(edadvivos)

edades
30-50    37.426901
20-30    28.654971
10-20    14.035088
0-10     11.988304
50+       7.894737
Name: proportion, dtype: float64

In [61]:
#Tarifa de vivos
tarifavivos = df1_vivos['intervalo'].value_counts(normalize=True) * 100
print(tarifavivos)

intervalo
20-50      26.315789
10-20      22.222222
50-100     20.467836
0-10       19.590643
100-200     7.309942
200+        4.093567
Name: proportion, dtype: float64

In [62]:
#Genero de vivos
generovivos = df1_vivos['Sex'].value_counts(normalize=True) * 100
print(generovivos)

Sex
female    68.128655
male      31.871345
Name: proportion, dtype: float64

## **CONCLUSIONES**
#### Se realizo una descripcion inicial de las variables donde se identifico que tipo de variable era cada una de las columnas, se realizo una
#### descripcion utilizando funciones e IF, y se relaciono las variables de cuerdo a las personas vivas.