# **Actividad 1 - programacion para la ciencia de Datos**

In [1]:
#importar pandas y leer archivo csv
import pandas as pd

#Leer Archivo csv Census income
df1 = pd.read_csv('census_income.csv')

### **Punto 1. Identificar que tipo de variables hay**

In [2]:
#Identificar cual es el tipo de variable de cada columna
print(df1.dtypes)

Unnamed: 0         int64
age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

### **Punto 2 Identificar cuantos valores hay por cada una de las columnas**

In [3]:
#Calcular cuantos valores hay por cada una de las columnas
cantidad = df1.count()
print(cantidad)

Unnamed: 0        48842
age               48842
workclass         47879
fnlwgt            48842
education         48842
education-num     48842
marital-status    48842
occupation        47876
relationship      48842
race              48842
sex               48842
capital-gain      48842
capital-loss      48842
hours-per-week    48842
native-country    48568
income            48842
dtype: int64

### **Punto 3 identificar cuantos valores unicos hay**

In [4]:
# Calcular cuantos valores unicos hay 
cantidad_unicos = df1.nunique()
print(cantidad_unicos)

Unnamed: 0        48842
age                  74
workclass             9
fnlwgt            28523
education            16
education-num        16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        123
capital-loss         99
hours-per-week       96
native-country       42
income                4
dtype: int64

### **Punto 4 Identificar cuantos valores nulos hay por cada columna**

In [5]:
#Calcular cuantos valores nulos hay por cada columna
cantidad_nulos = df1.isnull().sum()
print(cantidad_nulos)

Unnamed: 0          0
age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

### **Punto 5 informe de los datos**

In [6]:
#Informacion general de las variables - De forma masiva con la funcion .info()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      48842 non-null  int64
 1   age             48842 non-null  int64
 2   workclass       47879 non-null  object
 3   fnlwgt          48842 non-null  int64
 4   education       48842 non-null  object
 5   education-num   48842 non-null  int64
 6   marital-status  48842 non-null  object
 7   occupation      47876 non-null  object
 8   relationship    48842 non-null  object
 9   race            48842 non-null  object
 10  sex             48842 non-null  object
 11  capital-gain    48842 non-null  int64
 12  capital-loss    48842 non-null  int64
 13  hours-per-week  48842 non-null  int64
 14  native-country  48568 non-null  object
 15  income          48842 non-null  object
dtypes: int64(7), object(9)
memory usage: 6.0+ MB

In [15]:
#Resumen descriptivo de la base solo para los valores numericos usando IF y ciclos for

#Crear un diccionario por cada una de las variables a calcular
medias = {}
maximo = {}
minimo = {}
varianza = {}
desviacion = {}

# Itrar sobre cada una de las columans e identificar cuales son numericas
for column in df1.columns:
    # Verificar si la columna es de tipo int64
    if df1[column].dtype == 'int64':
        # Calcular la media y almacenar en el diccionario
        medias[column] = df1[column].mean()
        # Calcular los numeros maximos de las columnas  
        maximo[column] = df1[column].max()
        # Calcular los numeros minimo de las columnas  
        minimo[column] = df1[column].min()
        # Calcular la varianza de las columnas  
        varianza[column] = df1[column].var()
        # Calcular la desviacion de las columnas  
        desviacion[column] = df1[column].std()
        

# Imprimir las medias de las columnas 
print(medias)

{'Unnamed: 0': 24420.5, 'age': 38.64358543876172, 'fnlwgt': 189664.13459727284, 'education-num': 10.078088530363212, 'capital-gain': 1079.0676262233324, 'capital-loss': 87.50231358257237, 'hours-per-week': 40.422382375824085}

In [16]:
#Imprimir los numeros maximos de la columna
print(maximo)

{'Unnamed: 0': 48841, 'age': 90, 'fnlwgt': 1490400, 'education-num': 16, 'capital-gain': 99999, 'capital-loss': 4356, 'hours-per-week': 99}

In [17]:
#imprimir los numeros minimos de la columna
print(minimo)

{'Unnamed: 0': 0, 'age': 17, 'fnlwgt': 12285, 'education-num': 1, 'capital-gain': 0, 'capital-loss': 0, 'hours-per-week': 1}

In [18]:
#imprimir la varianza
print(varianza)

{'Unnamed: 0': 198799150.5, 'age': 187.97808266247543, 'fnlwgt': 11152210185.574848, 'education-num': 6.6099009099976405, 'capital-gain': 55532588.035659194, 'capital-loss': 162412.66903295522, 'hours-per-week': 153.5478850061782}

In [19]:
#imprimit la desviacion
print(desviacion)

{'Unnamed: 0': 14099.615260708357, 'age': 13.710509934443555, 'fnlwgt': 105604.02542315728, 'education-num': 2.5709727555922566, 'capital-gain': 7452.019057655394, 'capital-loss': 403.00455212435907, 'hours-per-week': 12.391444024252307}